<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoR of Graphs</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Roboto+Serif:ital,opsz,wght@0,8..144,300;1,8..144,300&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Creepster&family=Inter:wght@800&family=Roboto+Serif:ital,opsz,wght@0,8..144,300;1,8..144,300&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <nav class="nav-section--container">
            <div class="icon">
                <h2>LoR</h2>
            </div>
            <ul class="navbar-list">
                <li>Inicio</li>
                <li>Tier List</li>
                <li>Standard Meta</li>
                <li>Eternal Meta</li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="search-section--container">
            <h1 class="title">LoR of Graphs</h1>
            <div class="searcher">
                <form id="search" class="search-form" action="">
                    <div class="all-search-contain">
                        <div class="region">
                            <label class="region-title" for="region">Region</label>
                            <select class="select-your-region" name="" id="region">
                                <option value="BR1">Br</option>
                                <option value="EUN1">EUN</option>
                                <option value="EUW1">EUW</option>
                                <option value="JP1">Jp</option>
                                <option value="KR">Kr</option>
                                <option value="la1">LAN</option>
                                <option value="LA2">LAS</option>
                                <option value="NA1">NA</option>
                                <option value="OC1">OC</option>
                                <option value="PH2">Ph</option>
                                <option value="RU">Ru</option>
                                <option value="SG2">Sg</option>
                                <option value="TH2">Th</option>
                                <option value="TR1">Tr</option>
                                <option value="TW2">Tw</option>
                                <option value="VN2">Vn</option>
                            </select>
                        </div>
                        <div class="summoner-name">
                            <label class="summoner" for="summoner">Search</label>
                            <input id="summoner" class="input-searh--summoner" type="text" placeholder="Summoner name">
                        </div>

                        <div class="search-button">
                            <button class="button-go" type="submit">GO</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer>

    </footer>
    <script src="./js/index.js"></script>
</body>

</html>